<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="OurSolutionEntities" connectionString="metadata=res://*/OurSolution.csdl|res://*/OurSolution.ssdl|res://*/OurSolution.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=VenuSchool;persist security info=True;user id=sa;password=1qaz@WSX;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--VenuSoft数据库配置-->
    <add name="VenuSoftEntities" connectionString="metadata=res://*/SysModel.csdl|res://*/SysModel.ssdl|res://*/SysModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.2\SQL2012;initial catalog=VenuSoft;user id=sa;password=1qaz@WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>


    <!--OA办公系统数据库配置-->
    <add name="Panto_DigitalOAEntities" connectionString="metadata=res://*/POA.csdl|res://*/POA.ssdl|res://*/POA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.7;initial catalog=Panto_DigitalOA;persist security info=True;user id=sa;password=1qaz@WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--数据中心数据库配置-->
    <add name="Panto_DataCenterEntities" connectionString="metadata=res://*/DataCenter.csdl|res://*/DataCenter.ssdl|res://*/DataCenter.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.7;initial catalog=Panto_DataCenter;persist security info=True;user id=sa;password=1qaz@WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <add  key="WebSiteID" value="1EC1E7F4-684A-45D5-B00A-CB5D9CE3E7CC"/>
  </appSettings>
</configuration>