<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="OurSolutionEntities" connectionString="metadata=res://*/OurSolution.csdl|res://*/OurSolution.ssdl|res://*/OurSolution.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.7;initial catalog=VenuSoft_Cloud_Dev;persist security info=True;user id=sa;password=1qaz@WSX;multipleactiveresultsets=True;application name=EntityFramework;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0"/>
    <authorization>
      <deny users="?"/>
    </authorization>
    <authentication mode="Forms">
      <forms name="venusoft.cloud.schoolAdmin" loginUrl="~/Login/Login.aspx" slidingExpiration="true"/>
    </authentication>
    <webServices>
      <protocols>
        <add name="HttpSoap" />
        <add name="HttpPost" />
        <add name="HttpGet" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".xap" />
      <remove fileExtension=".xaml" />
      <remove fileExtension=".json" />

      <mimeMap fileExtension=".woff" mimeType="font/x-font-woff" />
      <mimeMap fileExtension=".xap" mimeType="xapapplication/x-silverlight"/>
      <mimeMap fileExtension=".xaml" mimeType="application/xaml+xml"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
    </staticContent>
  </system.webServer>
</configuration>
